Sinara_test/sinara.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>365fcb54-018d-1000-0dba-72af5f5f0c3a</groupId>
    <name>sinara</name>
    <snippet>
        <processGroups>
            <id>f920ad6e-42a7-3b74-0000-000000000000</id>
            <parentGroupId>815b4aa9-ba07-30cc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>f920ad6e-42a7-3b74-a13c-8f78c0792b9b</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>1cd47431-d482-3e62-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>513a0621-6dbc-300f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>35a598be-17d4-3d41-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>35a598be-17d4-3d41-8bcf-a17dbcc4fd99</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>38ad967b-66a3-3f1e-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>38ad967b-66a3-3f1e-a023-01e3910b8621</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>464.0</x>
                        <y>544.0</y>
                    </bends>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>60870057-e5d7-3721-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>60870057-e5d7-3721-9ab1-e07b87fdace1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>dff99e69-1170-3e53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dff99e69-1170-3e53-9cf6-a1eae2710a2f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>39d1e703-c7bd-323c-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>39d1e703-c7bd-323c-8d8c-ec58d8a20981</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>6ed66ec6-c5ee-3d0b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6ed66ec6-c5ee-3d0b-8b73-39741a0d0fa1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>3d2c355b-7fcc-36d4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3d2c355b-7fcc-36d4-bb11-ab39cb47321c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4dbc9444-1d36-3f88-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>832.0</x>
                        <y>656.0</y>
                    </bends>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>60870057-e5d7-3721-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>60870057-e5d7-3721-9ab1-e07b87fdace1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>10119873-6861-353e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>582cc570-c2e2-3d9b-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>10119873-6861-353e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>a07a7e4a-b2ec-3453-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>648dd9c1-8f2b-3ad9-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>832.0</x>
                        <y>608.0</y>
                    </bends>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>60870057-e5d7-3721-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>60870057-e5d7-3721-9ab1-e07b87fdace1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>10119873-6861-353e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>72b403ec-0501-3195-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>832.0</x>
                        <y>704.0</y>
                    </bends>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>60870057-e5d7-3721-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>60870057-e5d7-3721-9ab1-e07b87fdace1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>10119873-6861-353e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>80862a93-47bd-34ef-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>80862a93-47bd-34ef-9a96-f52f21c3d06d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>dff99e69-1170-3e53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dff99e69-1170-3e53-9cf6-a1eae2710a2f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>be515a90-f8dd-38eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>be515a90-f8dd-38eb-bd00-a897ffdb428a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>83105aa2-d43e-3eaa-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>83105aa2-d43e-3eaa-b868-1b52203ee72d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>be515a90-f8dd-38eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>be515a90-f8dd-38eb-bd00-a897ffdb428a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>CONTACT</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>6ed66ec6-c5ee-3d0b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6ed66ec6-c5ee-3d0b-8b73-39741a0d0fa1</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9199691d-9fdc-37c3-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>f175316b-941e-3dce-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>513a0621-6dbc-300f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>96ca1a42-5c35-347f-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>96ca1a42-5c35-347f-a35b-6eb425b77557</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>3d2c355b-7fcc-36d4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3d2c355b-7fcc-36d4-bb11-ab39cb47321c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>a64ec193-8089-384e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a64ec193-8089-384e-ba4c-4f29bfe0d45d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9fd6cd98-eb30-3917-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>9fd6cd98-eb30-3917-8f35-26f5fd4223c8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>240.0</x>
                        <y>544.0</y>
                    </bends>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>60870057-e5d7-3721-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>60870057-e5d7-3721-9ab1-e07b87fdace1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>dff99e69-1170-3e53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dff99e69-1170-3e53-9cf6-a1eae2710a2f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d301860a-9dcf-37bd-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>d301860a-9dcf-37bd-8337-066887b6dc67</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>688.0</x>
                        <y>544.0</y>
                    </bends>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>60870057-e5d7-3721-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>60870057-e5d7-3721-9ab1-e07b87fdace1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>dff99e69-1170-3e53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dff99e69-1170-3e53-9cf6-a1eae2710a2f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fb9ac2d3-9dd3-38d9-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>a07a7e4a-b2ec-3453-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>PER_ADDR</selectedRelationships>
                    <source>
                        <groupId>f920ad6e-42a7-3b74-0000-000000000000</groupId>
                        <id>f175316b-941e-3dce-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>357033cb-83c1-38e1-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>357033cb-83c1-38e1-81f9-84bd5bddb59a</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>
<name>Include Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Mode</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Include Trailing Delimiter</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>MINIMAL</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>3665cb6e-9c4d-3de0-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>3665cb6e-9c4d-3de0-9fcd-25d4081440d6</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
<name>kerberos-user-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:postgresql://localhost:5432/postgres</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>org.postgresql.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>C:\Users\gsvya\Downloads\Sinara_test\postgresql-42.7.1.jar</value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>postgres</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>1 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>4ea88684-07c4-31f4-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>4ea88684-07c4-31f4-863e-cce7173555cd</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>csvutils-allow-duplicate-header-names</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim double quote</key>
                            <value>
<dependencies>
    <dependentValues>rfc-4180</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim double quote</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader_Schema Text ${avro.schema}</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>dd.MM.yyyy</value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>dd.MM.yyyy HH:mm:ss</value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>;</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Trim double quote</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <controllerServices>
                    <id>fb7ae638-6d12-36cb-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <versionedComponentId>fb7ae638-6d12-36cb-a81a-1f2b9c396c26</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>csvutils-allow-duplicate-header-names</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim double quote</key>
                            <value>
<dependencies>
    <dependentValues>rfc-4180</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim double quote</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader_Schema Access Strategy Infer Schema</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>csv-header-derived</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>dd.MM.yyyy</value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>dd.MM.yyyy HH:mm:ss</value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>excel</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Trim double quote</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <funnels>
                    <id>60870057-e5d7-3721-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>440.0</x>
                        <y>576.0</y>
                    </position>
                    <versionedComponentId>60870057-e5d7-3721-9ab1-e07b87fdace1</versionedComponentId>
                </funnels>
                <labels>
                    <id>a74ba86a-3d30-3c23-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>-368.0</y>
                    </position>
                    <height>40.0</height>
                    <label> PipeLine</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d7ffd6</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>352.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>10119873-6861-353e-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>656.0</x>
                        <y>392.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>
    <name>db-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
<value>
    <dependencies>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>Statement Type Record Path</name>
</value>
                            </entry>
                            <entry>
<key>Data Record Path</key>
<value>
    <name>Data Record Path</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <dependentValues>UPSERT</dependentValues>
        <dependentValues>UPDATE</dependentValues>
        <dependentValues>SQL</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>fb7ae638-6d12-36cb-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>PostgreSQL</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
                            </entry>
                            <entry>
<key>Data Record Path</key>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>3665cb6e-9c4d-3de0-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>sinara</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>${Table.Name}</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>1000</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDatabaseRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
                <processors>
                    <id>35a598be-17d4-3d41-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>664.0</x>
                        <y>-320.0</y>
                    </position>
                    <versionedComponentId>35a598be-17d4-3d41-8bcf-a17dbcc4fd99</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>C:\Users\gsvya\Downloads\Sinara_test</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>PER_ADDR.csv</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PER_ADDR</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>3d2c355b-7fcc-36d4-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>-136.0</y>
                    </position>
                    <versionedComponentId>3d2c355b-7fcc-36d4-bb11-ab39cb47321c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>avro.schema</key>
<value>
    <name>avro.schema</name>
</value>
                            </entry>
                            <entry>
<key>Table.Name</key>
<value>
    <name>Table.Name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>avro.schema</key>
<value>{
  "type" : "record",
  "name" : "Root",
  "namespace" : "fjyT1HP3PMlJs1iK",
  "fields" : [ {
    "name" : "ID",
    "type" : [ "null", "string" ],
    "default" : null
  },{
    "name" : "ROW_ID",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "FST_NAME",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "MID_NAME",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "LAST_NAME",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "X_GB_STATUS",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "X_PROMO_DATE",
    "type" : [ "null", { "type":"int", "logicalType":"date"} ],
    "default" : null
  }]
}</value>
                            </entry>
                            <entry>
<key>Table.Name</key>
<value>contact</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SET_avro.schema</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>513a0621-6dbc-300f-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>664.0</x>
                        <y>-136.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>1</key>
<value>
    <name>1</name>
</value>
                            </entry>
                            <entry>
<key>avro.schema</key>
<value>
    <name>avro.schema</name>
</value>
                            </entry>
                            <entry>
<key>Table.Name</key>
<value>
    <name>Table.Name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>1</key>
<value>{
  "type" : "record",
  "name" : "Root",
  "namespace" : "fjyT1HP3PMlJs1iK",
  "fields" : [ {
    "name" : "ID",
    "type" : [ "null", "string" ],
    "default" : null
  },{
    "name" : "ROW_ID",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "PER_ID",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "CREATED",
    "type" : [ "null", { "type":"string", "logicalType":"timestamp"} ],
    "default" : null
  }, {
    "name" : "ADDR",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "COMM_MEDIUM_CD",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "NAME",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "X_PROMO_DATE",
    "type" : [ "null", "string" ],
    "default" : null
  }]
}</value>
                            </entry>
                            <entry>
<key>avro.schema</key>
<value>{
  "type" : "record",
  "name" : "Root",
  "namespace" : "fjyT1HP3PMlJs1iK",
  "fields" : [ {
    "name" : "ID",
    "type" : [ "null", "string" ],
    "default" : null
  },{
    "name" : "ROW_ID",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "PER_ID",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "CREATED",
    "type" : [ "null", { "type":"string", "logicalType":"timestamp"}],
    "default" : null
  }, {
    "name" : "ADDR",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "COMM_MEDIUM_CD",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "NAME",
    "type" : [ "null", "string" ],
    "default" : null
  }, {
    "name" : "X_PROMO_DATE",
    "type" : [ "null", "string" ],
    "default" : null
  }]
}</value>
                            </entry>
                            <entry>
<key>Table.Name</key>
<value>per_addr</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SET_avro.schema</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>6ed66ec6-c5ee-3d0b-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>40.0</y>
                    </position>
                    <versionedComponentId>6ed66ec6-c5ee-3d0b-8b73-39741a0d0fa1</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>
    <name>cache-schema</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>CONTACT</key>
<value>
    <name>CONTACT</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>4ea88684-07c4-31f4-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>357033cb-83c1-38e1-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>CONTACT</key>
<value>SELECT 
	"ROW_ID",
	"FST_NAME",
	"MID_NAME",
	"LAST_NAME",
	"X_GB_STATUS",
	"X_PROMO_DATE"
FROM FLOWFILE</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>QueryRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>CONTACT</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryRecord</type>
                </processors>
                <processors>
                    <id>87af9720-6957-3f2a-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>1032.0</x>
                        <y>-320.0</y>
                    </position>
                    <versionedComponentId>87af9720-6957-3f2a-80cb-9796acc09746</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>C:\Users\gsvya\Downloads\Sinara_test</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>ACTIVITY.csv</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ACTIVITY</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>a07a7e4a-b2ec-3453-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>664.0</x>
                        <y>216.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>
    <dependencies>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <dependencies>
        <dependentValues>Prepend</dependentValues>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Always Replace</dependentValues>
        <dependentValues>Append</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Prepend</name>
</value>
                            </entry>
                            <entry>
<key>Text to Append</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Append</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>ROW_ID,PER_ID,CREATED,ADDR,COMM_MEDIUM_CD,NAME,X_PROMO_DATE</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>row_id,per_id,created,addr,comm_medium_cd,name,x_promo_date</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
                            </entry>
                            <entry>
<key>Text to Append</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Line-by-Line</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>a64ec193-8089-384e-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>-320.0</y>
                    </position>
                    <versionedComponentId>a64ec193-8089-384e-ba4c-4f29bfe0d45d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>C:\Users\gsvya\Downloads\Sinara_test</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>CONTACT.csv</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>CONTACT_UPLOAD</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>be515a90-f8dd-38eb-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>216.0</y>
                    </position>
                    <versionedComponentId>be515a90-f8dd-38eb-bd00-a897ffdb428a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>
    <dependencies>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <dependencies>
        <dependentValues>Prepend</dependentValues>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Always Replace</dependentValues>
        <dependentValues>Append</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Prepend</name>
</value>
                            </entry>
                            <entry>
<key>Text to Append</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Append</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>ROW_ID,FST_NAME,MID_NAME,LAST_NAME,X_GB_STATUS,X_PROMO_DATE</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>row_id,fst_name,mid_name,last_name,x_gb_status,x_promo_date</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
                            </entry>
                            <entry>
<key>Text to Append</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Line-by-Line</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>dff99e69-1170-3e53-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>392.0</y>
                    </position>
                    <versionedComponentId>dff99e69-1170-3e53-9cf6-a1eae2710a2f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>
    <name>db-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
<value>
    <dependencies>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>Statement Type Record Path</name>
</value>
                            </entry>
                            <entry>
<key>Data Record Path</key>
<value>
    <name>Data Record Path</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <dependentValues>UPSERT</dependentValues>
        <dependentValues>UPDATE</dependentValues>
        <dependentValues>SQL</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>fb7ae638-6d12-36cb-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>PostgreSQL</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
                            </entry>
                            <entry>
<key>Data Record Path</key>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>3665cb6e-9c4d-3de0-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>sinara</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>${Table.Name}</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>1000</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDatabaseRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
                <processors>
                    <id>f175316b-941e-3dce-0000-000000000000</id>
                    <parentGroupId>f920ad6e-42a7-3b74-0000-000000000000</parentGroupId>
                    <position>
                        <x>664.0</x>
                        <y>40.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.24.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>
    <name>cache-schema</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>PER_ADDR</key>
<value>
    <name>PER_ADDR</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>4ea88684-07c4-31f4-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>357033cb-83c1-38e1-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>PER_ADDR</key>
<value>SELECT
	"ROW_ID",
	"PER_ID",
	"CREATED",
	"ADDR",
	"COMM_MEDIUM_CD",
	"NAME",
	"X_PROMO_DATE"
FROM FLOWFILE</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>QueryRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>PER_ADDR</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryRecord</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>sinara</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>02/09/2024 18:20:36 YEKT</timestamp>
</template>
